.mm-images-page {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 20px;
    box-sizing: border-box;
}

.mm-images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 525px;
    margin: 0 auto;

    &__img {
        width: 300px;
        max-width: 250px;
        height: auto;
        margin: 5px;
        background: #F2F2F2;
        border: 10px solid rgba(255, 255, 255, 0.67);
        box-sizing: border-box;
        cursor: pointer;
    }
}

@media screen and(min-width: 575px) {
    .mm-images {
        justify-content: space-between;
    }
}

@media screen and(min-width: 768px) {
    .mm-images {
        max-width: 525px;
    }
}

@media screen and(min-width: 992px) {
    .mm-images {
        max-width: 765px;

        &__img {
            width: 400px;
            max-width: 370px;
        }
    }
}

@media screen and(min-width: 1200px) {
    .mm-images {
        max-width: 1200px;
    }
}