
@import './src/index.scss';

.mm-descr {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-size: 0.9em;
    box-sizing: border-box;

    &__heading {
        margin: 0.7em 0 0.1em;
        font-size: 1.7em;
        color: #000;
        font-family: 'Roboto Condensed', sans-serif;
    }

    &__icon {
        margin: 0 8px 0 0;
        color: $gray;
    }

    &__location {
        display: inline;
        font-size: 1.1em;
    }

    &__txt {
        margin: 2em 0 0;
    }

    &__quote {
        margin: 40px 30px;
        padding: 0 0 0 15px;
        font-family: 'Crimson Text', sans-serif;
        font-style: italic;
        font-size: 1.2em;
        border-left: 4px solid $aquamarine;
        line-height: 1.3em;
        color: #a29999;
    }
}