@import 'src/index.scss';
$navbar-height-sm: 40px;
$navbar-height: 60px;

.mm-navbar {
    height: $navbar-height-sm;
    background: #7AD6BB;
    border-top: 1px solid white;

    &__inner {
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto;
    }

    &__img {
        width: 80px;
        height: 80px;
        position: relative;
        top: -40px;
        margin: 0 15px;
        border: 7px solid rgba(255, 255, 255, 0.67);
        border-radius: 50%;
    }

    &__list {
        display: flex;
        align-items: center;
        height: $navbar-height-sm;
        margin: 0 15px 0 10px;
        padding: 0;
        list-style: none;
        box-sizing: border-box;
    }

    &__list-item {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        width: 30px;
        height: 30px;
        border: 1px solid rgba(255, 255, 255, 0);
        border-radius: 50%;

        &:hover {
            cursor: pointer;
        }

        &:hover .mm-navbar__icon {
            color: $gray;
        }

        &--active {
            border: 1px solid #fff;
        }
    }

    &__icon {
        color: #fff;

        &--person {
            width: 0.875em;
            height: 0.8em;
        }

        &--img {
            width: 1em;
            height: 1em;
        }
    }
}

@media screen and(min-width: 768px) {
    //overwrite default icon styles
    .svg-inline--fa.fa-w-14 {
        height: 1.1em;
        width: 1.1em;
    }

    .svg-inline--fa.fa-w-16 {
        height: 1.1em;
        width: 1.1em;
    }

    .mm-navbar {
        height: $navbar-height;

        &__list {
            height: $navbar-height;
        }

        &__list-item {
            margin-left: 15px;
            padding: 7px;
        }

        &__img {
            width: 116px;
            height: 116px;
            top: -50px;
        }
    }
}